.posts {}

.posts__list {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -moz-padding-end: 0;
    -moz-margin-start: 0;
}

.posts__list li {
    display: block;
}

.posts__mainTitle {
    font-weight: bold;
    color: black;
}


@media (max-width: 400px) {
    .posts {
        margin-left: 1em;
        margin-right: 1em;
    }

    .posts__mainTitle {
        font-size: 1.5em;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .posts {
        margin-left: 2em;
        margin-right: 2em;
    }

    .posts__mainTitle {
        font-size: 1.7em;
        margin-top: 0.5em;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .posts {
        margin-left: 4em;
        margin-right: 2em;
    }

    .posts__mainTitle {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 1em;
    }
}

@media (min-width: 901px) {
    .posts {
        margin-left: 15%;
        margin-right: 15%;
    }

    .posts__mainTitle {
        font-size: 2.5em;
        margin-top: -0.3em;
        margin-bottom: 1em;
    }
}
