.entry__link {
    color: grey;
}

.entry__symbol {
    color: grey;
}

.posts {
    float: right;
    width: 30%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #eaeaea;
}

.posts__entry {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

.posts__list {}


@media (max-width: 300px) {
    .entry__date {
        margin-bottom: 0.2em;
    }

    .entry__symbol {
        margin-right: 0.3em;
    }

    .entry__title {
        display: block;
    }
}

@media (min-width: 301px) {
    .entry__date {}

    .entry__symbol {
        margin-right: 0.5em;
    }

    .entry__title {}
}
