@font-face {
    font-family: 'NavFont';
    src: url('../../fonts/architects-daughter/ArchitectsDaughter.ttf') format('truetype');
}

.navigation {
    font-size: 1em;
}

.navigation__link {
    color: #8191a7;
    font-weight: bold;
    text-decoration: underline;
    font-family: NavFont, sans-serif;
}


.navigation__list {
    text-align: center;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

@media (max-width: 400px) {
    .navigation__item {
        display: inline-block;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
    }

    .navigation__link {
        font-size: 0.9em;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .navigation {
        margin-top: 2em;
    }

    .navigation__item {
        display: inline-block;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .navigation__link {
        font-size: 1em;
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    .navigation {
        margin-top: 2.5em;
    }

    .navigation__item {
        display: inline-block;
        margin-bottom: 1em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .navigation__link {
        font-size: 1.1em;
    }
}

@media (min-width: 900px) {
    .navigation {
        margin-top: 3em;
    }

    .navigation__item {
        display: inline-block;
        margin-bottom: 1em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .navigation__link {
        font-size: 1.3em;
    }
}