.header {
    border-bottom: 3px solid darkgreen;
    border-top: 3px solid darkgreen;
}

.header__title {
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}

@media (max-width: 300px) {
    .header {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .header__title {
        font-size: 1.5em;
    }
}

@media (min-width: 301px) and (max-width: 600px) {
    .header {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .header__title {
        font-size: 2em;
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    .header {
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 3%;
        margin-right: 3%;
    }

    .header__title {
        font-size: 2.5em;
    }
}

@media (min-width: 900px) {
    .header {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: 5%;
        margin-right: 5%;
    }

    .header__title {
        font-size: 3em;
    }
}