.footer {
    clear: both;
    text-align: center;
    background-color: #00640014;
    flex-shrink: 0;
    padding-top: 2em;
    padding-bottom: 3em;
}

.footer__content {
    color: #6d7a88;
}

.footer__email {
    color: #278a55;
}


@media (max-width: 400px) {
    .footer__content {
        font-size: 0.8em;
    }
}

@media (min-width: 401px) and (max-width: 900px) {
    .footer__content {
        font-size: 0.9em;
    }
}

@media (min-width: 901px) {
    .footer__content {
        font-size: 1em;
    }
}