.footer {
    clear: both;
    text-align: center;
    background-color: #00640014;
    flex-shrink: 0;
    padding-top: 2em;
    padding-bottom: 3em;
}

.footer__content {
    color: #6d7a88;
}

.footer__email {
    color: #278a55;
}


@media (max-width: 600px) {
    .footer__content {
        font-size: 1em;
    }
}

@media (min-width: 601px) {
    .footer__content {
        font-size: 1.1em;
    }
}